
{/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;600&display=swap');
*/}
#root {
  margin: 0 auto;
  text-align: center;
  font-family:Poppins;
}